openai
requests
flask
flask_cors
flask_sqlalchemy
flask_migrate
flask_login
flask_restful
numpy
openai-whisper
transformers
torch
scipy
pandas
scikit-learn
streamlit
beautifulsoup4
nltk
spacy
gensim
pytesseract
opencv-python
pillow
pyttsx3
speech_recognition  
pyaudio
langdetect
pyyaml
python-dotenv
senetence-transformers
senetencepiece